.TimersDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: sans-serif;
  text-align: center;
  width: 400px;
  margin: auto;
}

.EditableTimerList {
  display: flex;
  flex-direction: column;
}

.Timer,
.TimeForm {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 0 15px;
  display: flex;
  flex-direction: column;
}

.TimeForm label {
  align-self: flex-start;
  margin: 10px 20px 5px;
  font-size: 1.25em;
}

.TimeForm input {
  margin: 0 20px 15px;
  font-size: 1.25em;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 8px;
}

.Timer h2 {
  margin: 10px 20px 5px;
  align-self: flex-start;
}
.Timer .control-paned {
  align-self: flex-end;
  margin: 0px 20px;
}
.Timer .control-paned i {
  padding: 5px;
}

.Timer .Timer-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Timer .Timer-name-panel {
  margin-left: 20px;
  margin-top: 10px;

  align-self: flex-start;
}

.Timer .Timer-name-panel p {
  margin-bottom: 0;
  margin-top: 0;
}

.Timer .Timer-control-panel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 10px;
}

.Timer .Timer-control-panel i {
  margin: 5px;
  font-size: 1.5em;
}

.Timer span {
  font-size: 3em;
  color: #212121;
  margin: 10px 0 20px;
}

button.btn {
  font-size: 1.25em;
  border: 2px blue solid;
  color: blue;
  background: rgb(0, 0, 255, 0.125);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  width: 90%;
}

button.btn-db {
  width: 45%;
}

button.btn-start {
  border-color: rgb(9, 235, 9);
  color: rgb(9, 235, 9);
  background: rgb(9, 235, 9, 0.125);
}

button.btn-stop {
  border-color: red;
  color: red;
  background: rgb(255, 0, 0, 0.125);
}

button.btn-update {
  border-color: rgb(235, 201, 9);
  color: rgb(235, 201, 9);
  background: rgb(235, 201, 9, 0.125);
}

button.btn-cancel {
  border-color: black;
  color: black;
  background: rgb(0, 0, 0, 0.125);
}

button.btn-create {
  border-color: purple;
  color: purple;
  background: rgb(255, 0, 255, 0.125);
}
